{% load staticfiles %}

<a href=" /clothing_database/home/ " style="color: black; font-weight: bold">Back</a>


<link rel="stylesheet" type="text/css" href="{% static 'design/account.css' %}">
<form class = options action="" method="POST">
<div class="row">
  <div class="column">
  	<h1> Enter Info </h1>
      {% csrf_token %}
  		Name: <input type="text", name="name">
  		<br><br>
  		Age: <input type="text", name="age">
  		<br><br>
      Password: <input type="password", name="password">
      <br><br>
  		Gender
  		<select name = gender>
  			<option value="male"> Male</option>
  			<option value="female"> Female</option>
  			<!-- <option value="other"> Other</option> -->
  		</select>
  		<br><br>
  	
  	<h1>Clothing Preferences</h1>
  		Fit
  		<select name = "fit">
  			<option value="slim"> Slim</option>
  			<option value="regular"> Regular</option>
  			<option value="relaxed"> Relaxed</option>
  		</select>
      <br><br>
      Color
      <select name = "color">
        <option value="white"> White</option>
        <option value="yellow"> Yellow</option>
        <option value="green"> Green</option>
        <option value="red"> Red</option>
        <option value="grey"> Grey</option>
        <option value="blue"> Blue</option>
        <option value="black"> Black</option>
        <option value="brown"> Brown</option>
      </select>
      <br><br>
      Material:
      <select name = "material">
        <option value="cotton"> Cotton</option>
        <option value="flax"> Flax</option>
        <option value="wool"> Wool </option>
        <option value="silk"> Silk</option>
        <option value="bamboo"> Bamboo</option>
        <option value="rayon"> Rayon</option>
        <option value="polyester"> Polyester</option>
        <option value="leather"> Leather</option>
        <option value="spandex"> Spandex</option>
        <option value="tyvek"> Tyvek</option>
        <option value="denim"> Denim</option>
        <option value="flannel"> Flannel</option>
      </select>
      <br><br>
      Patttern:
      <select name = "pattern">
        <option value="textile"> Textile</option>
        <option value="plain"> Plain</option>
        <option value="semmetrical"> Semmetrical</option>
        <option value="print"> Print</option>
        <option value="lines"> Lines</option>
        <option value="dots"> Dots</option>
        <option value="fractals"> Fractals</option>
        <option value="zigzag"> Zigzag</option>
        <option value="camouflage"> Camouflage</option>
        <option value="spirals"> Spirals</option>
        <option value="bubbles"> Bubbles</option>
      </select>
      <br><br>
      Price Min:
      <select name = "price_min">
        <option value="0"> $0</option>
        <option value="50"> $50</option>
        <option value="100"> $100</option>
        <option value="200"> $200+</option>
      </select>
      Price Max:
      <select name = "price_max">
        <option value="50"> $50</option>
        <option value="100"> $100</option>
        <option value="150"> $150</option>
        <option value="200+"> $200+</option>
      </select>


  </div>
  <div class="column">
  	<h1> Enter Measurements </h1>
    <h3> Lower Body </h3>
    Waist: <input type="text", name="waist"> <br><br>
    Hips: <input type="text", name="hips"> <br><br>
    Thigh: <input type="text", name="thigh"> <br><br>
    Knee: <input type="text", name="knee"> <br><br>
    Calf: <input type="text", name="calf"> <br><br>
    Instep: <input type="text", name="instep"> <br><br>
    Side-to-Knee: <input type="text", name="side_to_knee"> <br><br>
    Side Length: <input type="text", name="side_length"> <br><br>
    Crotch Depth: <input type="text", name="crotch_depth"> <br><br>
    Crotch Length: <input type="text", name="crotch_length"> <br><br>

  </div>
  <div class="column">
    <h3> Upper Body </h3>
      General Size: <input type="text", name="size_def"> <br><br>
      Chest: <input type="text", name="chest"> <br><br>
      Neck to Wrist: <input type="text", name="neck_to_wrist"> <br><br>
      Back to Wrist: <input type="text", name="back_to_wrist"> <br><br>
      Accoss Back: <input type="text", name="cross_back"> <br><br>
      Hand Circumference: <input type="text", name="hand_cicurm"> <br><br>
      Wrist Circumference: <input type="text", name="wrist_cicurm"> <br><br>
      Hand Length: <input type="text", name="hand_length"> <br><br>
      Arm Length: <input type="text", name="arm_length"> <br><br>
      Upper Arm: : <input type="text", name="upper_arm"> <br><br>
      Arm Hole Depth: <input type="text", name="arm_hole_depth"> <br><br>
      <br><br><br>
    <input type="submit" name="Create Account", style="height:40px;width:200px;font-size: 30px; background-color: grey;border-radius: 25px" >
  </div>
</div>
</form>
