<!-- home.html -->

{% load staticfiles %}

<div align="center">
	Welcome to the Site
</div>

<div align="center">
	<h2> Enter your given User Id </h2>
	<br> <br>
	<form method="POST">
		{% csrf_token %}
		<input type="text" name='profile_id'>
    	<button type="submit">View</button>
	</form>

	<h2> Create an Account </h2>
	<form method="GET" action="{% url 'create_account' %}">
		<button type="submit">Create</button>
	</form>
</div>

<div>
	{% for user in profile %}
		{{user.profile_name}}
	{% endfor %}

</div>